@use "../../scss/breakpoint" as *;
@use "../../scss/" as *;
.movie-list {
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}


.slide-movie{
    margin-right: 20px !important;
}

.card-head {
    img{
        border-radius: 25px;
    }
}

.movie-card h3{
        text-align: center  ;
    }

.movie-card:hover {
    img{
        opacity: 0.3;
        transition: all 0.2s ease 0s;
    }
}
